<div class="well well-small">
  <h4><%= t "fratured_products.title_fratured" %>
    <small class="pull-right">200+ <%= t "fratured_products.title_fratured" %></small>
  </h4>
  <div class="row-fluid">
  <div id="featured" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/b1.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/b2.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/b3.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/b4.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/5.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <%= link_to image_tag("products/6.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/7.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/8.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/9.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/10.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/11.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/1.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/2.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/3.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
        <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/4.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <%= link_to image_tag("products/5.jpg" ,alt: ""), "#" %>
      <div class="caption">
        <h5><%= t "fratured_products.title_product" %></h5>
         <h4>
          <a class="btn" href="product_details.html">
            <%= t "fratured_products.btn_view" %>
          </a>
          <span class="pull-right">$222.00</span>
        </h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
    </div>
    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
    </div>
</div>
