<div class="well well-small">
  <h4><%= t "fratured_products.title_fratured" %>
    <small class="pull-right">200+ <%= t "fratured_products.title_fratured" %></small>
  </h4>
  <div class="row-fluid">
  <div id="featured" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    <ul class="thumbnails">
      <% @products_fratured.each do |product| %>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <%= link_to image_tag("products/b1.jpg" ,alt: ""), product %>
          <div class="caption">
            <h5><%= t "fratured_products.title_product" %></h5>
            <h4>
                <%= link_to t("fratured_products.btn_view"), product, class: "btn" %>
              <span class="pull-right">$222.00</span>
            </h4>
          </div>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
    </div>
    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
    </div>
</div>
