<h4><%= t "latest_products.title_latest" %> </h4>
<ul class="thumbnails">
<li class="span3">
  <div class="thumbnail">
  <%= link_to image_tag("products/6.jpg", alt: "register.html"),
    "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>

    <h4 style="text-align:center">
      <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i>
      </a>
      <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
      <a class="btn btn-primary" href="#">$222.00</a>
    </h4>
  </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= link_to image_tag("products/7.jpg", alt: "register.html"),
      "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>
   <h4 style="text-align:center">
    <a class="btn" href="product_details.html">
      <i class="icon-zoom-in"></i></a>
      <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
     <a class="btn btn-primary" href="#">$222.00</a>
   </h4>
  </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= link_to image_tag("products/8.jpg", alt: "register.html"),
      "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>
     <h4 style="text-align:center">
      <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
      <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
      <a class="btn btn-primary" href="#">$222.00</a>
    </h4>
  </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= link_to image_tag("products98.jpg", alt: "register.html"),
      "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>
    <h4 style="text-align:center">
      <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
      <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
      <a class="btn btn-primary" href="#">$222.00</a>
   </h4>
  </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= link_to image_tag("products/10.jpg", alt: "register.html"),
     "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>
    <h4 style="text-align:center">
      <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
       <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
       <a class="btn btn-primary" href="#">$222.00</a>
     </h4>
  </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= link_to image_tag("products/11.jpg", alt: "register.html"),
     "product_details.html" %>
  <div class="caption">
    <h5><%= t "latest_products.title_product" %></h5>
    <p>
    <%= t "latest_products.content_product" %>
    </p>
     <h4 style="text-align:center">
      <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
      <a class="btn" href="#"><%= t "btn_add" %><i class="icon-shopping-cart"></i></a>
      <a class="btn btn-primary" href="#">$222.00</a>
    </h4>
  </div>
  </div>
</li>
</ul>
