
<tbody>


        <div id="finish">

    <tr>
      <td style="text-align: center;" ><%= order.user_id %></td>
      <td style="text-align: center;" ><%= order.name %></td>
      <td style="text-align: center;" ><%= order.pay_type %></td>
      <td style="text-align: center;" ><%= order.address %></td>
      <td style="text-align: center;" ><%= order.phone %></td>
      <td style="text-align: center;" ><%= order.created_at %></td>
      <td style="text-align: center;" >
        <%= order.status %>

        </td>
      <td style="text-align: center;">
        <%= link_to "Show", show_order_path(cart_code: order), class: "btn btn-primary" %>
      </td>
      <td style="text-align: center;" >
          <%= form_for order, remote: true do |f| %>
            <%= f.submit "Finish", class: "btn btn-primary"  %>
          <% end %>
      </td>
      <td style="text-align: center;"><%= link_to "Destroy", order, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr></div>
</tbody>
