<h1>Orders</h1>
<center>
<table width="80%" border="1px">
  <thead>
    <tr>
      <th width="50px">User ID</th>
      <th>Name</th>
      <th>Pay Type</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Created at</th>
      <th>Status</th>
      <th width="5px" colspan="3"></th>
    </tr>
  </thead>
  <tbody class="order-index">
    <%= render "orders/orders" %>
  </tbody>
</table>
<%= paginate @orders, theme: "twitter-bootstrap", window: 3 %>
</center>
<div class="container">
  <div class="row">
    <h1>Orders</h1>
    <div class="form-group">
      <%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-2">Price</th>
          <th class="col-md-2">Status</th>
          <th class="col-md-2">Address</th>
          <th class="col-md-3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.name %></td>
            <td><%= number_to_currency(order.line_items.sum{|item| item.quantity * (item.product.export_price * item.product.sale / 100)}, format: "%u %n", precision: 0) %></td>
            <td><span class="badge badge-warning"> Waiting</span></td>
            <td><%= order.address %></td>
            <td>
              <%= link_to 'Show', check_path(cart_code: order.id), class: "btn btn-info" %>
              <%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %>
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
