
<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9">
        <%= link_to "Back", orders_path %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%= t "view_cart.description" %></th>
              <th><%= t "view_cart.quantity" %></th>
              <th><%= t "view_cart.price" %></th>
              <th><%= t "view_cart.sale" %></th>
              <th><%= t "view_cart.total" %></th>
            </tr>
          </thead>
          <tbody>
            <%=  @cart_code.each do |a| %>
              <tr>
                <td><%= a.product.name %><br/>Color : black, Material : metal</td>
                <td><%= a.quantity %></td>
                <td><%= a.product.export_price %></td>
                <td><%= a.product.sale %></td>
                <td><%= a.total_price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Back", orders_path %>
      </div>
    </div>
  </div>
</div>
