<%= current_cart.line_items.each do |a| %>
  <tr>
    <td>
      <%= link_to image_tag("products/6.jpg") %>
     <img width="60" src="themes/images/products/4.jpg" alt=""/></td>
    <td><%= a.product.name %><br/>Color : black, Material : metal</td>
    <td><%= a.quantity%></td>
    <td><%= a.product.export_price %></td>
    <td><%= a.product.sale %></td>
    <td><%= a.total_price %></td>
  </tr>
<% end %>
