<div id="mainBody">
  <div class="container">
  <div class="row">
<div class="span9">
<p id="notice"><%= notice %></p>

    <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
    </ul>
  <h3>  SHOPPING CART [ <small>3 Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
  <hr class="soft"/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity/Update</th>
        <th>Price</th>
        <th>Sale %</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <%= render current_cart %>
      <tr>
        <td>
          <%= button_to @cart, :method => :delete, data: {:confirm => 'Are you sure?'} do %>
          <i >Empty cart</i>
    <% end %>
        </td>
        <td colspan="5" style="text-align:right">
          <%= current_cart.total_price %>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>

  <a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
</div>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
</div></div></div>
