<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>
        <ul class="breadcrumb">
        <li><a href="index.html"><%= t "view_cart.home" %></a> <span class="divider">/</span></li>
        <li class="active"><%= t "view_cart.shopping_cart" %></li>
        </ul>
        <h3><%= t "view_cart.shopping_cart" %>[ <small>3 <%= t "view_cart.item" %></small>]
          <%= link_to root_path, class: "btn btn-large pull-right" do %>
            <i class="icon-arrow-left"></i><%= t "view_cart.btn_continue_shopping" %>
          <% end %>
        </h3>
        <hr class="soft"/>
        <div id="cart">
          <% if hide_cart_if? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= t "view_cart.product" %></th>
                  <th><%= t "view_cart.description" %></th>
                  <th><%= t "view_cart.quantity" %></th>
                  <th><%= t "view_cart.price" %></th>
                  <th><%= t "view_cart.sale" %></th>
                  <th><%= t "view_cart.total" %></th>
                </tr>
              </thead>
              <tbody class="items-cart">
                <%= render @cart %>
              </tbody>
            </table>
            <%= link_to new_order_path, method: :get, class: "btn btn-info pull-right"  do %>
              <i class="icon-arrow-right"></i> <%= t "view_cart.btn_next" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).on('keypress', '.quantity-item', function(e) {
      if(e.which == 13) {
          $.ajax({
            url: '/change_quantity/' + $(this).data('id'),
            type: 'get',
            data: {
              line_item_id: $(this).data('line-item-id'),
              type: 'input_change',
              quantity: $(this).val(),
            },
            dataType: 'script',
          })
      }
  });
<% end %>
