<%= form_with(model: @feedback, local: true)  do |form| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h4><%= t "feedback.contact" %></h4>

  <div class="control-group">
   <%= form.text_field :title, size: 40, placeholder: "Title" %>
  </div>
  <div class="control-group">
   <%= form.text_field :name, size: 40, placeholder: "Name" %>
  </div>
  <div class="control-group">
    <%= form.text_area :content, placeholder: "Content" %>
  </div>

  <div class="btn-large">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
