<div id="mainBody">
<div class="container">
<div class="row">
<div class="right_col" role="main">
  <div class="col-md-12">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t "danhsachsp" %></h3>
      </div>
    </div>
    <div class="clearfix"></div>
      <div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="nav navbar-right panel_toolbox">
            <li><a href=""></a></li>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
          </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="form-group">
            <%= link_to t("add"), "products/new", class: "btn btn-primary"%>
            </div>
          <table id="datatable" class="table table-striped table-bordered table-hover">
            <thead>
            	<tr>
                <th scope='col'><%= t "ten" %></th>
                <th scope='col'><%= t "idhinhanh" %></th>
                <th scope='col'><%= t "gianhap" %></th>
                <th scope='col'><%= t "giaxuat" %></th>
                <th scope='col'><%= t "mieuta" %></th>
                <th scope='col'><%= t "ghichu" %></th>
                <th scope='col'><%= t "trangthai" %></th>
                <th scope='col'><%= t "time" %></th>
                <th scope='col'><%= t "sale" %></th>
                <th scope='col'><%= t "action" %></th>
              </tr>
            </thead>
            <tbody>
            <% @product.each do |y| %>
              <tr>
                <td><%= y.name %></td>
                <td><%= image_tag(y.images.first&.image, size: 50) %></td>
                <td><%= number_to_currency(y.import_price, unit: "$", precision: 0, format: "%u %n") %></td>
                <td><%= number_to_currency(y.export_price, unit: "$", precision: 0, format: "%u %n") %></td>
                <td><%= y.describe %></td>
                <td><%= y.note %></td>
                <td>
                  <% if y.status == 1 %>
                    <span class="badge-success badge  "> Avaiable</span>
                  <% else %>
                  <span class="badge badge-warning"> Sold out</span>
                  <% end %>
                </td>
                <td><%= y.time_guaranate %></td>
                <td><%= y.sale.to_s << '%' %></td>
                <td>
                  <%= link_to t("edit"), edit_product_path(y), class: "btn btn-primary" %>
                  <%= link_to t("delete"), y, method: :delete, class: "btn btn-danger"%>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

          <div class="container pagination justify-content-center" >
            <%= paginate @product, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
          </div>
    </div>
  </div>
</div>
</div>
</div>
