<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9"><table class="table table-bordered">
          <thead>
            <tr>
              <th><%= t "view_cart.product" %></th>
              <th><%= t "view_cart.description" %></th>
              <th><%= t "view_cart.quantity_update" %></th>
              <th><%= t "view_cart.price" %></th>
              <th><%= t "view_cart.sale" %></th>
              <th><%= t "view_cart.total" %></th>
            </tr>
          </thead>
          <tbody>
            <%=  @cart_code.each do |a| %>
              <tr>
                <td>
                  <%= link_to image_tag("products/6.jpg") %>
                 <img width="60" src="themes/images/products/4.jpg" alt=""/></td>
                <td><%= a.product.name %><br/>Color : black, Material : metal</td>
                <td><%= a.quantity %></td>
                <td><%= a.product.export_price %></td>
                <td><%= a.product.sale %></td>
                <td><%= a.total_price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
