<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide" data-interval="100">
    <div class="carousel-inner">
      <div class="item active">
      <div class="container">
      <%= link_to image_tag("macbook/1.jpg", all:"special offers", class: "banner"), "register.html" %>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <%= link_to image_tag("macbook/2.jpg", all:"special offers", class: "banner"), "register.html" %>
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <%= link_to image_tag("macbook/3.jpg", all:"special offers", class: "banner"), "register.html" %>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

      </div>
      </div>
       <div class="item">
       <div class="container">
      <%= link_to image_tag("macbook/4.jpg", all:"special offers", class: "banner"), "register.html" %>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

      </div>
      </div>
       <div class="item">
       <div class="container">
      <%= link_to image_tag("macbook/5.jpg", all:"special offers", class: "banner"), "register.html" %>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
      </div>
      </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
