  <div  id="footerSection">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h5><%= t "account" %></h5>
        <%= link_to t("account_your"), "login.html" %>
        <%= link_to t("account_information"), "login.html" %>
        <%= link_to t("account_addresses"), "login.html" %>
        <%= link_to t("account_discount"), "login.html" %>
        <%= link_to t("account_order"), "login.html" %>
       </div>
      <div class="span3">
        <h5><%= t "information" %></h5>
        <%= link_to t("information_contact"), "contact.html" %>
        <%= link_to t("information_registration"), "register.html" %>
        <%= link_to t("information_notice"), "legal_notice.html" %>
        <%= link_to t("information_terms"), "tac.html" %>
        <%= link_to t("information_faq"), "faq.html" %>
       </div>
      <div class="span3">
        <h5><%= t "our_offers" %></h5>
        <%= link_to t("our_offers_new"), "#" %>
        <%= link_to t("our_offers_top"), "#" %>
        <%= link_to t("our_offers_special"), "special_offer.html" %>
        <%= link_to t("our_offers_manufacturers"), "#" %>
        <%= link_to t("our_offers_suppliers"), "#" %>
       </div>
      <div id="socialMedia" class="span3 pull-right">
        <h5><%= t "social_media" %></h5>
        <%= link_to image_tag("facebook.png", title: "facebook",
          alt: "facebook", width: 60, height: 60), "#" %>
        <%= link_to image_tag("twitter.png", title: "twitter",
          alt: "twitter", width: 60, height: 60), "#" %>
        <%= link_to image_tag("youtube.png", title: "youtube",
          alt: "youtube", width: 60, height: 60), "#" %>
       </div>
     </div>
    <p class="pull-right">&copy; LAPTOP</p>
  </div><!-- Container End -->
  </div>
