<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
  <div class="span6"><%= t "hello" %><strong> <%= t "user" %> </strong></div>
  <div class="span6">
  <div class="pull-right">
    <%= link_to "EN", locale: "en" %>
    <%= link_to "VI", locale: "vi" %>
    <%= link_to "product_summary.html" do %>
    <span>&pound;</span>
    <% end %>
    <span class="btn btn-mini">$155.00</span>
    <%= link_to  "#"  do %><span class="">$</span><% end %>
    <%= link_to cart_path(current_cart.id) do %><span class="btn btn-mini btn-primary">
      <i class="icon-shopping-cart icon-white"></i>
      [ 3 ] <%= t "itemes_cart" %></span>
    <% end %>

  </div>
  </div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <%= link_to image_tag("logo/logo.png", alt: " Logo"), root_path, class: "brand" %>
    <%= render "products/search" %>
    <ul id="topMenu" class="nav pull-right">
      <% if logged_in? %>
        <% if session[:admin] %>
          <li><%= link_to "Admin", admin_path %></li>
          <li class="">
            <%= link_to t("contact"), new_feedback_path %>
          </li>
          <li class="">
            <%= link_to t("check_order"), orders_path %>
          </li>
          <li><%= link_to "Create Order", create_order_path(id: current_cart) %></li>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li class="">
            <%= link_to t("contact"), new_feedback_path %>
          </li>
          <li class="">
            <%= link_to t("check_order"), checkorder_path %>
          </li>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% end %>
      <% else %>
        <li class="">
          <%= link_to t("contact"), new_feedback_path %>
        </li>
        <li class="">
          <%= link_to t("check_order"), checkorder_path %>
        </li>
        <li><%= link_to "signup.html" do %><%= t "signup" %><% end %></li>
        <li class="">
        <li><%= link_to "login", login_path %></li>
        <div id="login" class="modal hide fade in" tabindex="-1" role="dialog"
          aria-labelledby="login" aria-hidden="false" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">×</button>
            <h3><%= t "title_login" %></h3>
          </div>
          <%= render "layouts/login" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
</div>
